body{
    background-image: url("https://cdn.shopify.com/s/files/1/0823/7125/t/6/assets/homepage_slider2.jpg?v=55511797161872150921450125496");
    background-repeat: no-repeat;
    background-size: cover;
    
}
.navbar{
    color: white !important;
}

.navbar-brand{
    color: white !important;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px !important;
}

.nav-link{
    margin: 2px;
    
    
}

.navbar-toggler-icon{
 background-color: white !important;
}

.navbar-nav>a{
    color: white !important;
}




.main-login{
    margin-top: 100px;
    
}

.main-login>div>div{
    color: white;
    
    
}


.logo-text{
    color: black !important;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px !important;
}

.login-part{
    padding: 64px !important;
    border-radius: 32px;
    background-color: white;

}

.login-part>h1{
    color: black;
}

.login-part>div>p{
    margin-top: 10px ;
    color: grey;
}
.login-part>div>p>a{
    text-decoration: none;
    color: red;
}

.login-part>div>div>a{
    border: none !important;
}


.next-signin{
    color: grey;
}

.next-signin>div>i{
    font-size: 20px;
    margin: 10px;
    cursor: pointer;
}


footer{
    font-size: 12px;
    color: white;
}
footer>ul{
    list-style: none;
    
}

footer>ul>li{
    display: inline;
    margin-left: 10px;
    margin-right: 10px;
    color: white;
}

footer>ul>li>a{
    text-decoration: none;
    color: white
}
